/*****Variables*****/

:root {

    /****Color****/

    /**Background Color**/
    --bg-white-linear: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --bg-white: #fff;
    --bg-body: #F4F4F4;
    --bg-work-1: #E7C1D3;
    --bg-work-2: #EFDA6E;
    --bg-work-3: #A4DAC3;
    --bg-work-4: #77AAEA;
    --bg-main: #ABEF5F;
    --bg-main-50: #ABEF5F50;
    --bg-main-50: #ABEF5F33;

    /**Text Color**/
    --text-Black-1: #212121;
    --text-Black-2: #494949;
    --text-Gray: #737373;
    --text-Gray-2: #A0A0A050;
    --text-Button: #1C1C1C;
    --text-white-footer: #E9E9E9;
    --text-body: #222;

    /**Border Color**/
    --border-1: #E9E9E9;

    /****Typography****/

    /**Font Family**/
    --fontFamly-manrope: "Manrope", sans-serif;
    ;

    /**Font Size**/
    --fontSize-14: 0.88rem;
    --fontSize-16: 1.00rem;
    --fontSize-20: 1.25rem;
    --fontSize-32: 2.00rem;
    --fontSize-40: 2.50rem;
    --fontSize-64: 4.00rem;

    /**Font Weight**/
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-extraBold: 800;

    /**Other**/
    --content-center1: 0.69rem;
    --transition: all 400ms ease;

    --container-desktop-width: 1170px;
}

/*****Reuse Property*****/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

textarea,
input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--text-body);
    font-size: var(--fontSize-16);
    font-family: var(--fontFamly-manrope);
}

/*****Reuse Class*****/

.container {
    max-width: var(--container-desktop-width);
    margin-inline: 1.5rem;
}

.pamary_btn {
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: var(--transition);
    width: 18.75rem;
    margin-inline: auto;
}

.pamary_btn span {
    margin-right: 8px;
    font-size: var(--fontSize-20);
    font-weight: var(--weight-bold);
}

.pamary_btn svg rect {
    fill: var(--text-Button);
}

.pamary_btn svg rect:hover,
.pamary_btn:hover {
    border: 2px solid #ABEF5F;
    background-color: var(--bg-main-50);
    fill: var(--bg-main);
}

/*****Header Area Style*****/
.main__wrapping__header {
    background-color: var(--bg-white);
    padding-block: 1px;
}

.nav__header {
    margin-block: 1.8rem;
    background-color: var(--bg-white);
}

.nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 10px;
    font-family: var(--fontFamly-manrope);
    font-weight: var(--weight-bold);
    font-size: 28px;
}

.res__close i,
.res__open i {
    font-size: 26px;
}

.res__close {
    display: none;
}

.res__open {
    display: inline-block;
}

.nav__middle {
    display: none;
    position: fixed;
    top: 5rem;
    right: 8%;
    width: 18rem;
    text-align: right;
    z-index: 9999;
    transition: var(--transition);
}

.nav__middle.open {
    display: block;
}

.nav__middle li {
    width: 100%;
    height: 4.5rem;
}

.nav__middle li a {
    background: var(--bg-main);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--text-Button);
    font-weight: var(--weight-bold);
    transition: var(--transition);
    border: 1px solid #dffcbe;
}

.nav__middle li a:hover {
    color: #fff;
    background: var(--text-Button);
}

.nav__right {
    display: none;
}

/*****Hero Area Style*****/

.hero__area {
    margin-block: 2.50rem;
    background-color: var(--bg-white);
}

.hero__info {
    text-align: center;
}

.hero__info .pamary_btn svg rect {
    fill: var(--bg-main);
}

.hero__info .pamary_btn {
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: var(--transition);
    width: 18.75rem;
    margin-inline: auto;
}

.hero__info .pamary_btn svg rect {
    fill: var(--text-Button);
}

.hero__info .pamary_btn svg rect:hover,
.hero__info .pamary_btn:hover {
    border: 2px solid #ABEF5F;
    background-color: var(--bg-main-50);
    fill: var(--bg-main);
}

.hero__info .pamary_btn span {
    margin-right: 8px;
    font-size: var(--fontSize-20);
    font-weight: var(--weight-bold);
}

.hero__info h2 {
    font-size: 1.75rem;
    font-weight: var(--weight-extraBold);
    margin-block: 0.94rem;
    line-height: 2.0rem;
}

.hero__info p {
    margin-bottom: 1.25rem;
}

/*****About Area Style*****/
.about__area {
    margin-block: 2.50rem;
}

.about__top {
    background-color: var(--bg-white);
    padding: 8px 0;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    margin-inline: auto;
}

.about__top span {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-bold);
}

.about__title {
    text-align: center;
}

.about__title h2 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    margin-block: 16px;
}

.about__title p {
    font-size: 14px;
    font-weight: var(--weight-medium);
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--text-Black-2);
}

.about__content {
    display: grid;
    gap: 24px;
}

.about__items {
    display: grid;
    gap: 16px;
}

.about__item {
    display: flex;
    gap: 20px;
    background: var(--bg-white);
    padding: 20px;
    border-radius: 10px;
}

.about__item img {
    width: 40px;
    height: 40px;
}

.about__text h4 {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-extraBold);
    margin-bottom: 10px;
    color: var(--text-Black-2);
}

.about__text p {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-medium);
    line-height: 26px;
    color: var(--text-Gray);
}

.about__shape_img {
    display: none;
}

/*****Facts Area Style*****/
.facts__area {
    margin-block: 2.50rem;
}

.facts__items {
    display: flex;
    flex-direction: column;
}

.facts__item {
    background-color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.facts__icon img {
    width: 40px;
    height: 40px;
    margin-inline: auto;
    margin-bottom: 4px;
}

.facts__text h4 {
    font-size: 40px;
    font-weight: var(--weight-extraBold);
    color: var(--text-Black-2);

}

.facts__text p {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-medium);
    color: var(--text-Gray);
}

/*****Works Area Style*****/
.works__area {
    margin-block: 2.50rem;
}

.works__top {
    background-color: var(--bg-white);
    padding: 8px 0;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    margin-inline: auto;
}

.works__top span {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-bold);
}

.works__title {
    text-align: center;
}

.works__title h2 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    margin-block: 16px;
}

.works__title p {
    font-size: 14px;
    font-weight: var(--weight-medium);
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--text-Black-2);
}

.works__items {
    display: grid;
    gap: 20px;
    margin-top: 40px;
}

.works__item {
    background: var(--bg-white);
    padding: 24px;
    border-radius: 10px;
}

.works__item:nth-child(1) {
    background-color: #E7C1D3;
}

.works__item:nth-child(2) {
    background-color: #EFDA6E;
}

.works__item:nth-child(3) {
    background-color: #A4DAC3;
}

.works__item:nth-child(4) {
    background-color: #77AAEA;
}

.works__icon img {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.works__text h4 {
    margin-block: 10px;
    font-size: 20px;
}

/*****Portfolio Area Style*****/
.portfolio__area {
    padding-block: 2.50rem;
    background-color: var(--bg-white);
}

.portfolio__top {
    background-color: var(--bg-main-50);
    padding: 8px 0;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    margin-inline: auto;
}

.portfolio__top span {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-bold);
}

.portfolio__title {
    text-align: center;
}

.portfolio__title h2 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    margin-block: 16px;
}

.portfolio__title p {
    font-size: 14px;
    font-weight: var(--weight-medium);
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--text-Black-2);
}

/* Demo */
.protfolio__item_one {
    color: #222;
    border-radius: 10px;
    text-align: left;
    padding: 24px;
    border: 1px solid var(--text-Gray-2);
    display: grid;
    gap: 24px;
}

.protfolio__info h3 {
    font-size: 30px;
    font-weight: var(--weight-extraBold);
}

.protfolio__info p {
    line-height: 26px;
    font-weight: var(--weight-medium);
    color: var(--text-Gray);
    margin: 16px 0 20px 0;
}

.protfolio__item_two {
    border-radius: 10px;
    padding: 24px;
    border: 1px solid var(--text-Gray-2);
}

.protfolio__two_img img {
    height: 14rem;
    border-radius: 10px;
}

.protfolio_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.protfolio__img img {
    border-radius: 10px;
}

.protfolio__items {
    display: grid;
    gap: 30px;
}

.pro__box:nth-child(6) {
    display: none;
}

/*****News Area Style*****/
.news_area {
    margin-block: 2.50rem;
}

.news__top {
    background-color: var(--bg-white);
    padding: 8px 0;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    margin-inline: auto;
}

.news__top span {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-bold);
}

.news__title {
    text-align: center;
}

.news__title h2 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    margin-block: 16px;
}

.news__title p {
    font-size: 14px;
    font-weight: var(--weight-medium);
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--text-Black-2);
}

.news__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.news__item {
    background: var(--bg-white);
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__text_top {
    display: flex;
    gap: 12px;
}

.news__text_top li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.news__text_top li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.news__text_top li a {
    font-size: 14px;
    font-weight: var(--weight-medium);
    color: var(--text-Gray);
}

.news__text h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: var(--weight-extraBold);
    margin-bottom: 10px;
}

.news__text p {
    margin-bottom: 12px;
    font-weight: var(--weight-medium);
    color: var(--text-Gray);
}

.news_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news_btn span {
    font-weight: var(--weight-medium);
    color: #1C1C1C;
}

/*****Connect Area Style*****/
.connect_area {
    margin-block: 2.50rem;
}

.connect__top {
    background-color: var(--bg-white);
    padding: 8px 0;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    margin-inline: auto;
}

.connect__top span {
    font-size: var(--fontSize-16);
    font-weight: var(--weight-bold);
}

.connect__title {
    text-align: center;
}

.connect__title h2 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    margin-block: 16px;
}

.connect__title p {
    font-size: 14px;
    font-weight: var(--weight-medium);
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--text-Black-2);
}

/* Demo */
.form__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.form__items textarea,
.form__item input {
    background: var(--bg-white);
    border-radius: 50px;
    padding: 30px;
    font-weight: var(--weight-medium);
    color: var(--text-Gray-2);
}

.form__item input {
    height: 60px;
}

.form__items textarea {
    height: 240px;
}

.form__items {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 24px;
}

/***** Footer Area Style*****/
.footer__area {
    padding-block: 2.50rem;
    background: #000;
}

.footer_row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_top .logo {
    justify-content: center;
}

.footer_top .logo img {
    width: 40px;
    height: 40px;
}

.footer_top .logo span {
    color: var(--bg-white);
}

.footer_top p {
    color: var(--text-Gray);
    text-align: center;
    margin-top: 20px;
}

.footer_menu {
    text-align: center;
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_buttom .pamary_btn svg rect:hover,
.footer_buttom .pamary_btn:hover {
    border: 2px solid #ABEF5F;
    background-color: var(--bg-main-50);
    fill: var(--bg-main);
    color: var(--bg-white);
}